<form (ngSubmit)="onSubmit()" [formGroup]="passwordForm" class="cf" novalidate>
  <div class="mb-3">
    <label class="form-label label">Password Lama</label>
    <div class="input-group has-validation">
      <input
        placeholder="Masukkan password lama"
        class="form-control input"
        [type]="passShow.oldPassword ? 'text' : 'password'"
        formControlName="oldPassword"
        [ngClass]="{
          'is-invalid': submitted && myForm['oldPassword'].errors
        }"
        required
      />
      <span
        class="input-group-text"
        style="cursor: pointer"
        (click)="onClickPass('oldPassword')"
      >
        <i
          [class]="passShow.oldPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
          aria-hidden="true"
        ></i>
      </span>
      <div
        class="invalid-feedback"
        *ngIf="(myForm['oldPassword'].touched || submitted) &&
            myForm['oldPassword'].errors?.['required']
          "
      >
        Password lama harus diisi
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          (myForm['oldPassword'].touched || submitted) &&
          myForm['oldPassword'].errors
        "
      >
        {{ errorMessage["oldPassword"] }}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label label">Password Baru</label>
    <div class="input-group has-validation">
      <input
        placeholder="Masukkan password baru"
        class="form-control input"
        [type]="passShow.newPassword ? 'text' : 'password'"
        formControlName="newPassword"
        [ngClass]="{
          'is-invalid': submitted && myForm['newPassword'].errors
        }"
        required
      />
      <span
        class="input-group-text"
        style="cursor: pointer"
        (click)="onClickPass('newPassword')"
      >
        <i
          [class]="passShow.newPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
          aria-hidden="true"
        ></i>
      </span>
      <div
        class="invalid-feedback"
        *ngIf="(myForm['newPassword'].touched || submitted) &&
            myForm['newPassword'].errors?.['required']
          "
      >
        Password baru harus diisi
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          (myForm['newPassword'].touched || submitted) &&
          myForm['newPassword'].errors
        "
      >
        {{ errorMessage["newPassword"] }}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label label">Konfirmasi Password</label>
    <div class="input-group has-validation">
      <input
        placeholder="Masukkan password baru"
        class="form-control input"
        [type]="passShow.confirmPass ? 'text' : 'password'"
        formControlName="confirmPass"
        [ngClass]="{
          'is-invalid': submitted && myForm['confirmPass'].errors
        }"
        required
      />
      <span
        class="input-group-text"
        style="cursor: pointer"
        (click)="onClickPass('confirmPass')"
      >
        <i
          [class]="passShow.confirmPass ? 'fa fa-eye-slash' : 'fa fa-eye'"
          aria-hidden="true"
        ></i>
      </span>
      <div
        class="invalid-feedback"
        *ngIf="(myForm['confirmPass'].touched || submitted) &&
            myForm['confirmPass'].errors?.['required']
          "
      >
        Konfirmasi Password harus diisi
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          (myForm['confirmPass'].touched || submitted) &&
          myForm['confirmPass'].errors
        "
      >
        {{ errorMessage["confirmPass"] }}
      </div>
    </div>
  </div>
  <button type="submit" class="mt-4 float-end btn btn-primary button-text">
    Simpan
  </button>
</form>
