<div class="content">
  <div class="inside-content">
    <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
    <table class="custom-table">
      <thead class="custom-thead custom-thead-row">
        <th class="custom-thead-col">No</th>
        <th class="custom-thead-col">Jenis Pelanggaran</th>
        <th class="custom-thead-col">Poin</th>
        <th class="custom-thead-col">Opsi</th>
      </thead>
      <tbody class="custom-tbody" *ngIf="payload.length != 0">
        <tr class="custom-tbody-row" *ngFor="let item of payload; index as i">
          <td class="custom-tbody-col1 custom-tbody-col2">
            <div class="tag">{{ i + 1 }}</div>
          </td>
          <td class="custom-tbody-col1 custom-tbody-col2">
            <div class="tag">{{ item.jenisPelanggaran }}</div>
          </td>
          <td class="custom-tbody-col1 custom-tbody-col2">
            <div class="tag">{{ item.jumlahPoin }}</div>
          </td>
          <td class="custom-tbody-col1 custom-tbody-col2">
            <button class="btn btn-success" (click)="editClicked(item)">
              <i class="fas fa-edit"></i>
            </button>
            <div style="width: 8px"></div>
            <button class="btn btn-danger" (click)="removeClicked(item)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="payload?.length == 0">
        <tr>
          <td colspan="3" class="custom-tbody-col1 custom-tbody-col2">
            <div class="tag">Data Tidak Ada!</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
