<section>
  <app-header
    [title]="'Kelas'"
    [subtitle]="'Menampilkan data seluruh kelas'"
  ></app-header>
  <app-card-header
    [title]="'Total kelas saat ini'"
    [subtitle]="'Klik tombol di samping kiri untuk menambahkan kelas baru.'"
    [countNum]="totalKelas"
    (add)="handleAdd()"
  ></app-card-header>
  <div style="height: 48px"></div>
  <h5>Cari kelas menggunakan filter berikut :</h5>
  <div style="height: 12px"></div>
  <form novalidate [formGroup]="filterForm" (ngSubmit)="filterKelas()">
    <div class="row" [ngStyle]="{ 'margin-right': '0px' }">
      <div class="col-md-4">
        <input
          placeholder="Masukkan Tahun ajaran"
          class="form-control input"
          formControlName="tahunAjaran"
          [ngClass]="{
            'is-invalid': submitted && myForm['tahunAjaran'].errors
          }"
          required
        />
        <div
          class="invalid-feedback"
          *ngIf="(myForm['tahunAjaran'].touched || submitted) &&
                myForm['tahunAjaran'].errors?.['required']"
        >
          Tahun ajaran harus diisi
        </div>
      </div>
      <div class="col-md-4">
        <ng-select
          formControlName="tingkatan"
          [items]="tingkatan"
          [ngClass]="{
            'is-invalid': submitted && myForm['tingkatan'].errors
          }"
        >
        </ng-select>
        <div
          class="invalid-feedback"
          *ngIf="(myForm['tingkatan'].touched || submitted) &&
              myForm['tingkatan'].errors?.['required']"
        >
          Tingkatan harus diisi
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn button-text btn-primary" type="submit">Cari</button>
      </div>
    </div>
  </form>
  <div style="height: 24px"></div>
  <div
    class="container"
    [ngStyle]="{ 'padding-left': '0px', 'padding-right': '32px' }"
  >
    <div class="row">
      <div
        class="col-xs-6 col-md-4"
        style="padding-bottom: '24px'"
        *ngFor="let item of listKelas"
      >
        <app-card-kelas
          [dropdown]="true"
          [payload]="item"
          (edit)="handleEdit(item)"
          (remove)="handleDelete(item)"
        ></app-card-kelas>
      </div>
    </div>
  </div>
</section>
