<div class="overlay" *ngIf="show === true" (click)="setShow(false)"></div>

<div
  class="card card-kelas"
  [style.background]="payload.keahlian ? payload.keahlian.warna : ''"
>
  <div class="card-body">
    <div class="card card-count">
      <p
        class="text-center text-white"
        [ngStyle]="{ margin: '0px', 'font-weight': '600' }"
      >
        <i class="fas fa-user"></i> {{ payload.jumlah }}
      </p>
    </div>
    <p class="text-kelas">
      <!-- X-RPL-B -->
      {{ payload.tingkatan }}-{{ payload.keahlian.singkatan }}-{{
        payload.abjad.toUpperCase()
      }}
    </p>
    <p class="text-paket-keahlian">
      <!-- Rekayasa Perangkat Lunak  -->
      {{ payload.keahlian.paketKeahlian }}
    </p>

    <div *ngIf="dropdown === true; then conditionT; else conditionF"></div>
    <ng-template #conditionT>
      <div class="btn-group dropdown float-end" [ngClass]="show ? 'open' : ''">
        <a
          class="btn"
          style="z-index: 4"
          (click)="setShow(show ? false : true)"
        >
          <i class="fa-solid fa-angle-down text-white"></i>
        </a>

        <ul
          class="dropdown-menu dropdown-menu-right"
          [ngStyle]="{ opacity: 1 }"
        >
          <li>
            <a (click)="editClicked(payload)" (mouseup)="setShow(false)">
              Edit
            </a>
          </li>
          <li>
            <a (click)="removeClicked(payload)" (mouseup)="setShow(false)">
              Hapus
            </a>
          </li>
        </ul>
      </div>
    </ng-template>
    <ng-template #conditionF> </ng-template>
  </div>
</div>
